@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');

* {
  margin: 0;
  padding: 0;
  line-height: 1.5;
  font-family: "Lato", sans-serif;
}

.AuthorizedSection {
  margin-left: 170px;
}

.printers, .supplies, .printing{
  text-align: center;
}

.printers p, .supplies p, .printing p{
  margin: 1rem auto 0;
  font-weight: bold;
}

body {
  margin: 0;
  background-color: #EEEFF0;
  color: #454a4e;
}

.w-100 {
  width: 100%;
}

.h-100 {
  height: 100%;
}

.container {
  width: 80%;
  margin: auto;
}

.row {
  width: 100%;
  display: flex;
  align-items: center;
}

.col-6 {
  width: 50%;
}

.col-12 {
  width: 100%;
}

.col-4 {
  width: 33.33%;
}

.col-8 {
  width: 77.77%;
}

.col-3 {
  width: 25%;
}

.m-0 {
  margin: 0;
}

.navbar-contact-details-module {
  display: flex;
  align-items: center;
}

.row .nav-right-mail {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.call-us-details {
  margin-right: 0;
  width: 40%;
  height: 100%;
  /* Pushes the search-container and navbar-icon to the right */
}

.call-us-details h3 {
  padding: 1rem;
  border: 1px solid #eee;
  height: 100%;
  margin: 0;
}

h4.regular.text-center.text-deal {
  padding-top: 40px;
  margin-top: 0;
  text-align: center;
  margin-bottom: 10px;
}

.search-container {
  display: flex;
  align-items: center;
}

.dealer-band {
  background-color: white;
}

.navbar-icon {
  display: flex;
  /* justify-content: space-between; */
  align-items: center;
}

.navbar-icon a {
  padding: 1rem;
  border: 1px solid #eee;
}

.search-input {
  width: 200px;
  /* Adjust width as needed */
  margin-right: 10px;
  /* Adjust spacing as needed */
}

.navbar-icon img {
  width: 30px;
  /* Adjust size as needed */
  height: auto;
  /* Maintain aspect ratio */
}

.logo-module {
  width: 60%;
}


/* section-2 banner CSS */
.banner-slider-section {
  position: relative;
}

.banner-slider-text-module {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 51%;

}

.banner-icon-module div img {
  padding: 20px;
  height: 50px;
}

.banner-icon-module-fourth img {
  width: 100px;
}

.banner-slider-text {
  width: 60%;
}

.banner-slider-heading h4 {
  text-align: left;
}

.banner-slider-heading {
  font-size: 29px;
  color: #fff;
}

.banner-slider-heading span {
  font-weight: bold;
}

.banner-slider-section .slick-dots .slick-active button:before {
  background: #2e1ede;
}

.banner-slider-section .slick-dotted.slick-slider {
  margin-bottom: 57px;
}

.banner-slider-section .slick-dots li button:before {
  background: #ffffff;
  height: 3px;
  width: 50px;
  border-radius: 10px;
  font-size: 0;
}

.banner-slider-section .slick-dots li {
  margin: 0 20px;
}

.banner-icon-text {
  background: #ffffffa3;
  text-align: center;
  padding: 1rem;
  margin: 0px;
}

.container-navbar {
  max-width: 100%;
  margin: 70px;
  display: flex;
  flex-wrap: wrap;
}

h4 {
  font-size: 1.5rem;
  margin: 2rem 0rem 1rem;
  margin-top: 2rem;
  color: #2F498A;
  margin-top: -120px;
  padding-top: 135px;
  /* font-family: inherit; */
  font-family: "Lato", sans-serif;
  font-style: normal;
  font-weight: 500;
  line-height: 1.2;
}

/* banner end */


/*/navbar start/*/

.container-navbar {
  width: 100%;
  margin: auto;
  font-size: 13.19px;
}

.row {
  width: 100%;
  display: flex;
  align-items: center;
}


.navbar-contact-details-module {
  display: flex;
  align-items: center;
}

.logo-module {
  width: 45%;
}

header {
  background-color: white;
  color: #60636d;
  padding: 0px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

/* .col-6-1 {
  padding-left: 185px;
} */

.icon-container {
  display: flex;
  margin-left: 10px;
}

.icon {
  width: 30px;
  margin-right: 10px;
}

.nav-list {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: inline-block;
}


.nav-list li {
  display: inline;
  margin-right: 15px;
}

.nav-list a {
  text-decoration: none;
  color: #fff;
  padding: 10px;
  display: inline-block;
}

.nav-list>li>a::before {
  content: '';
  display: block;
  height: 2px;
  background: #cd642b;
  position: absolute;
  /* top: -.75em;  */
  bottom: -.75em;
  left: 0;
  right: 0;
  transform: scale(0, 1);
  /* transform-origin: right; */
  /* transform-origin: left; */
  transition: transform ease-in-out 250ms;

}

.nav-list li a:hover:before {
  transform: scale(1, 1);

}

.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
  z-index: 1;
  border-radius: 4px;
  padding: 10px;
  margin-top: 0;
  width: 180px;
}

.dropdown-content a {
  color: #333;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  position: relative;
}

/*  */

.dropdown:hover .dropdown-content {
  display: block;
}

.menu-bar {
  background-color: #60636d;
  width: 100%;
}

.menu-bar {
  display: flex;
  justify-content: center;
}

.container-navbar {
  display: flex;
  justify-content: center;
}

.col,
.col-1,
.col-10,
.col-11,
.col-12,
.col-2,
.col-5,
.col-6,
.col-7,
.col-8,
.col-9,
.col-auto,
.col-lg,
.col-lg-1,
.col-lg-10,
.col-lg-11,
.col-lg-12,
.col-lg-2,
.col-lg-3,
.col-lg-4,
.col-lg-5,
.col-lg-6,
.col-lg-7,
.col-lg-8,
.col-lg-9,
.col-lg-auto,
.col-md,
.col-md-1,
.col-md-10,
.col-md-11,
.col-md-12,
.col-md-2,
.col-md-3,
.col-md-4,
.col-md-5,
.col-md-6,
.col-md-7,
.col-md-8,
.col-md-9,
.col-md-auto,
.col-sm,
.col-sm-1,
.col-sm-10,
.col-sm-11,
.col-sm-12,
.col-sm-2,
.col-sm-3,
.col-sm-4,
.col-sm-5,
.col-sm-6,
.col-sm-7,
.col-sm-8,
.col-sm-9,
.col-sm-auto,
.col-xl,
.col-xl-1,
.col-xl-10,
.col-xl-11,
.col-xl-12,
.col-xl-2,
.col-xl-3,
.col-xl-4,
.col-xl-5,
.col-xl-6,
.col-xl-7,
.col-xl-8,
.col-xl-9,
.col-xl-auto {
  position: relative;
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;
}

.col-md-4 {
  -webkit-box-flex: 0;
  -ms-flex: 0 0 33.33333%;
  flex: 0 0 33.33333%;
  max-width: 33.33333%;
}

.row-about {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;

  margin-right: -15px;
  margin-left: -15px;
}

.regular-about {
  font-family: "Lato", sans-serif;
  text-align: center;
}

/* navbar end Css */
/* Client Speak Section */
.client-speak {
  background-color: #f5f5f5;
  padding: 50px 0;
}

h4.client-module {
  text-align: center;
  margin-bottom: 8px;
  margin-top: -0;
  margin-right: auto;
  padding-top: 0;
}

.slider-container {
  margin: auto;
  width: 80%;
  max-width: 80%;
}

.testimonial {
  text-align: center;
  background-color: #ffffff;
  border-radius: 10px;
  padding: 20px;
  margin-bottom: 20px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.testimonial img {
  border-radius: 50%;
  width: 70px;
  float: left;
  margin-right: 15px;
}

.client-name {
  font-weight: bold;
}

.arrow-down {
  border: solid transparent;
  border-width: 0 3px 3px 0;
  display: inline-block;
  padding: 0;
  transform: rotate(0);
}

.slider-container .slick-dots{
  bottom: -50px;
}

.slider-container .slick-dots li.slick-active button:before {
  opacity: 1;
  color: #344284;
}

.slider-container .slick-dots li button:before {
  font-size: 13px;
  width: 40px;
  height: 40px;
}

/* CB Perform Section */
.ClientSpeak figure {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-flow: wrap;
  margin: 0;
  float: left;
  /* position: relative; */
}

.ClientSpeak {
  /* margin-bottom: 380px;
  margin-left: 250px;
  margin-top: 80px; */
}

figure.snip1157 {
  font-family: "Lato", sans-serif;
  position: relative;
  overflow: hidden;
  margin: 10px;
  min-width: 220px;
  max-width: 310px;
  width: 100%;
  color: #333;
  text-align: left;
  box-shadow: none !important;


}

figure.snip1157 * {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-transition: all 0.35s cubic-bezier(0.25, 0.5, 0.5, 0.9);
  transition: all 0.35s cubic-bezier(0.25, 0.5, 0.5, 0.9);
}

figure.snip1157 img {
  max-width: 100%;
  vertical-align: middle;
  height: 90px;
  width: 90px;
  border-radius: 50%;
  margin: 40px 0 0 10px;
}

figure.snip1157 blockquote {
  display: block;
  border-radius: 8px;
  position: relative;
  background-color: #EEEFF0;
  /* padding: 25px 50px 30px 50px; */
  font-size: 0.8em;
  font-weight: 500;
  margin: 0;
  line-height: 1.6em;
  font-style: italic;
}

figure.snip1157 blockquote:before,
figure.snip1157 blockquote:after {
  font-family: 'Lato', sans-serif;
  content: "\201C";
  position: absolute;
  font-size: 50px;
  opacity: 0.3;
  font-style: normal;
}

figure.snip1157 blockquote:before {
  top: 25px;
  left: 20px;
}

figure.snip1157 blockquote:after {
  content: "\201D";
  right: 20px;
  bottom: 0;
}

figure.snip1157 .arrow {
  top: 100%;
  width: 0;
  height: 0;
  border-left: 0 solid transparent;
  border-right: 25px solid transparent;
  border-top: 25px solid #fafafa;
  margin: 0;
  position: absolute;
}

figure.snip1157 .author {
  position: absolute;
  bottom: 45px;
  padding: 0 10px 0 120px;
  margin: 0;
  text-transform: uppercase;
  color: #ffffff;
  -webkit-transform: translateY(50%);
  transform: translateY(50%);
}

figure.snip1157 .author h5 {
  opacity: 0.8;
  margin: 0;
  font-weight: 800;
}

figure.snip1157 .author h5 span {
  font-weight: 400;
  text-transform: none;
  padding-left: 5px;
}

/* End  */


/* search css */
.search-container {
  display: flex;
  align-items: center;
}

.search-input {
  padding: 8px;
  margin-right: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.search-button {
  padding: 8px;
  /* Adjust the background color as needed */
  color: #fff;
  /* Adjust the text color as needed */
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

/* Responsive Styles */
@media (max-width: 767px) {
  .testimonial img {
    float: none;
    margin-right: 0;
    margin-bottom: 10px;
  }

  .perform img {
    margin-bottom: 20px;
  }
}

/*//*/
#secondary img,
article img,
figure,
img,
img.wp-post-image {
  max-width: 100%;
  height: auto;
  /* margin-left: 10px; */
}

.brands-row {
  margin-top: 40px;
  margin-bottom: 40px;
}

.container {
  padding-left: 0px;
  padding-right: 0px;
}

.h1,
.h2,
.h3,
.h4,
.h5,
.h6,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin-bottom: .5rem;
  font-family: 'Lato', sans-serif;
  font-weight: 500;
  line-height: 1.2;
  color: inherit;
}

/* video section*/
/* Add your CSS styles here */
.video-container {
  display: flex;
  /* Display children side by side */
  justify-content: center;
  margin: 40px;
  margin-top: -75px;
}

.video-first {
  padding-left: 47px;
  align-content: center;
  align-items: center;
  margin-right: 11px;
}

.video {
  flex: 1;
  /* Distribute available space equally */
  margin-right: 0px;
  /* Add spacing between videos */
  margin: 50px;
  margin-top: 115px;

}

.video-1 {
  height: 550px;
  width: 100%;
}

.video-2 {
  height: 500px;
  width: 90%;
}

.video-3 {
  height: 500px;
  width: 90%;
}

.video-section {
  margin-bottom: -230px;
  justify-content: center;
  padding: 140px;
  margin-top: -125px;
  /* background-color: #EEEFF0; */
}

.span-video-2 {
  margin: 0px;
  padding: 0px;
}

.span-video-3 {
  margin: 0px;
  padding: 0%;
}

/* About section */
.about-tech {
  padding-left: 0px;
  margin-top: 13px;
  align-items: centers;
  justify-content: center;
  padding-bottom: 70px;
}

.about-tech div h4 {
  margin-bottom: 70px;
  margin-top: 70px;
}

/*  line */
.line {
  border-bottom: 3px solid;
  width: 40px;
  margin: 0 auto;
  color: #344284;
  margin-bottom: 20px;
  display: flex;
}

h4.section-video-module {
  padding: 10px;
  margin: 0px;
  text-align: center;

}

h4 .sub-section-div {
  text-align: left;
}

.bold {
  text-align: center;
  /* margin-right: 204px;
  margin-left: -25px; */
}

.tech-icons {
  margin-left: 33px;
  margin-top: 55px;
}

.tech-icons-1 {
  margin-left: 20px;
  margin-top: 55px;
}

.line-module {
  border-bottom: 3px solid;
  width: 40px;
  margin: 0 auto;
  color: #344284;
  margin-bottom: 20px;
  margin-right: 662px;
}

.button {
  background-color: #DC6523;
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  margin: 5px;
  margin-top: 20px;
  margin-left: 0px;
  font-family: "Lato", sans-serif;
  font-size: 15.5px;
}

[class*="col-"] {
  width: 100%;
}

/* Responsive Styles */

@media (min-width: 576px) {
  .container {
    max-width: 540px;
  }
}

@media only screen and (max-width: 600px) {
  .banner-slider-text-module {
    padding: 0px;
    display: flex;
    position: relative;
    margin-left: -50px;
    margin-top: 54px;
  }

  .banner-slider-heading {
    text-align: center;
    font-size: 10px;
    justify-content: center;
    margin-bottom: 300px;
  }

  .banner-icon-module {
    flex-direction: inherit;
    /* Stack icons vertically */
    align-items: center;
    /* Center align icons */
  }

  .banner-icon-module .banner-icon-text {
    margin-bottom: 10px;
    /* Add some space between icons */
  }

  .banner-icon-module {
    position: absolute;
    margin-left: 50px;
    padding-top: 50px;
  }

  .m-0 {
    display: flex;
  }

  .slick-dotted {
    display: none;
    position: relative;
  }
}

@media (max-width: 767px) {
  .testimonial img {
    float: none;
    margin-right: 0;
    margin-bottom: 10px;
  }

  .perform img {
    margin-bottom: 20px;
  }
}

@media (max-width: 767px) {
  .brands-row img {
    padding: 20px;
    padding: 20px;
    width: 100%;
  }
}

@media (max-width: 767px) {

  .banner-carousel,
  .banner-item,
  .banner-inner {
    width: 100%;
    height: 200px;
    /* margin: 0 auto; */
  }
}

@media (max-width: 767px) {
  .main-nav {
    background-color: gray;
  }
}

@supports ((position:-webkit-sticky) or (position:sticky)) {
  .sticky-top {
    position: -webkit-sticky;
    position: sticky;
    top: 0;
    z-index: 1020;
  }
}


@media (min-width: 768px) {
  .col-md-6 {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 50%;
    flex: 0 0 50%;
    max-width: 50%;
  }
}

@media (min-width: 768px) {
  .terms-link .right-link {
    text-align: right;
  }
}

@media (min-width: 768px) {
  .social-link {
    margin: 10px;
  }
}



@media (min-width: 768px) {
  .container {
    max-width: 720px;
  }
}

@media (min-width: 768px) {
  .design {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 16.66667%;
    flex: 0 0 16.66667%;
    max-width: 16.66667%;
  }
}

@media (max-width: 768px) {
  .row {
    margin-left: 0px;
    margin-right: 0px;
  }
}


@media (min-width: 768px) {
  .col-md-6 {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 50%;
    flex: 0 0 50%;
    max-width: 50%;
  }
}

@media(max-width:991px) {
  .row {

    flex-wrap: nowrap;
    justify-content: center;
  }
}


@media (min-width: 992px) {
  .container {
    max-width: 960px;
  }
}

@media (min-width: 992px) {
  .col-lg-4 {
    flex: 0 0 33.33333%;
    max-width: 33.33333%;
  }
}

@media (min-width: 1200px) {
  .container {
    max-width: 1140px;
  }
}

/* Sayali CSS */

.navbar-contact-details {
  width: 20%;
}

.fix-container {
  width: 90%;
  max-width: 90%;
  margin: auto;
}

/* Sayali CSS */