.banner-section {
    background: url(https://citybluetechnologies.com/wp-content/themes/understrap-master/image/Printing-Services_Large-Format-Copying_Banner.png);
    width: 100%;
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 300px;
    max-height: 300px;
    z-index: -1;
}
section{
    background-color: #fff;
}

#small-poster {
    border: 1px solid;
    height: 180px;
    background: url(https://citybluetechnologies.com/wp-content/themes/understrap-master/image/print-image1.jpg);
    background-size: cover;
    z-index: -1;
}

html {
    height: 100%;
    width: 100%;
}

.slide-cont {
    width: 600px;
    display: block;
    margin: 0 auto;
}

.owl-carouse div {
    width: 100%;
}

/*SEE END OF THUMBNAIL FUCNTION TO TINKER SIZE OF THUMBS*/
.owl-carousel .owl-controls .owl-dot {
    float: left;
    background-size: cover;
    margin-top: 10px;
}


.owl-carousel .owl-dot {
    float: left;
    background-size: cover;
}




* {
    margin: 0;
    padding: 0;
}

body {
    background: #ccc;
}

.slider {
    width: 640px;
    position: relative;
    padding-top: 320px;
    margin: 100px auto;
    box-shadow: 0 10px 20px-5px rgba(0, 0, 0, 0.75);
}

.slider>img {
    position: absolute;
    left: 0;
    top: 0;
    transition: all 0.5s;
    width: 100%;
}

input[name='slide_switch'] {
    display: none;
}

.slider label {
    margin: 18px 18px 0 0;
    border: 3px solid #999;
    float: left;
    cursor: pointer;
    opacity: 0.6;
    transition: all 0.5s;
    margin-top: 150px;
}

.slider label img {
    display: block;
}

.slider input[name='slide_switch']:checked+label {
    border-color: #666;
    opacity: 1;
}

.slider input[name='slide_switch']~img {
    opacity: 0;
    transform: scale(1.1);
}

.slider input[name='slide_switch']:checked+label+img {
    opacity: 1;
    transform: scale(1);
}